---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Pop Programming Language</title>
  </head>
  <body>
    <main data-page="www">
      <slot />
    </main>
  </body>
</html>

<style>
  [data-page="www"] {
    display: flex;
    flex-direction: column;
    margin: 0 5rem 0 5rem;

    @media (max-width: 768px) {
      margin: 0 0.5rem 0 0.5rem;
    }

    & footer {
      text-align: center;
      justify-content: center;
      display: flex;
      gap: 32px;
    }
  }
</style>
